@import url('https://fonts.googleapis.com/css?family=Underdog');


body {
  margin: 0;
  background-image: url('../img/stacked2.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  font-family: 'Underdog', cursive;
}
h1 {
  font-size: 28px;
  color: orange;
  margin: 10px 0px -20px 0px;
}
h2 {
  color: white;
}
article {
  color: lightgreen;
  background-color: rgba(34,68,31,.975);
  border: 1px solid black;
  border-radius: 5px;
  max-width: 700px;
  padding: 0px 5px 5px 10px;
  margin: 20px auto;
}
.philarecx {
  float: right;
  top: 0px;
}
.navimg {
  align: center;
}
@media (max-width: 700px) {
  body {
    overflow-y: scroll;
  }
  div, article {
    color: lightgreen;
    width: 450px;
    padding: 0px 20px 10px 20px;
    margin: 20px auto;
  }
  img {
    max-width: 80%;
  }
  h1 {
    font-size: 24px;
    padding: 5px;
  }
  li {
    font-size: 16px;
    padding: 5px;
    display: block;
  }
}
